{% trans_default_domain 'userprofile' %}
<div class="d-flex justify-content-between">
	
	<div class="page-title d-flex flex-column me-3">
		
		<h1 class="d-flex text-dark fw-bolder my-1 fs-3">
			{# Название раздела #}
			{{ ( (status ? : '') | trans({}, 'user.profile.status') ~ ' профили пользователей') |trim | capitalize }}
		
		
		</h1>
		
		<ul class="breadcrumb breadcrumb-dot fw-bold text-gray-600 fs-7 my-1">
			
			<li class="breadcrumb-item text-gray-600">
				<a href="{{ path('Pages:user.homepage') }}"
						class="text-gray-600 text-hover-primary">{{ 'breadcrumb.home'|trans({}, 'messages') }}</a>
			</li>
			
			<li class="breadcrumb-item text-gray-600">
				<a href="{{ path('Core:admin.homepage') }}"
						class="text-gray-600 text-hover-primary">{{ 'breadcrumb.admin'|trans({}, 'messages') }}</a>
			</li>
		
		</ul>
	</div>
	
	<div class="d-flex align-items-center py-2 py-md-1">
		
		<span class="h5">Добавить профиль: </span>
		
		{# Добавить профиль #}
		{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USERPROFILE_NEW') %}
			<div class="btn-group ms-10">
				{% for profile in profiles %}
					<a href="{{ path('UserProfile:admin.userprofile.newedit.new', { id : profile.id }) }}"
							class="btn btn-primary ">
						{{ profile.name }}
					</a>
				{% endfor %}
			</div>
			{# <a href="{{ path('UserProfile:admin.userprofile.newedit.new, { id:  }') }}" class="btn btn-primary ">
				{{ 'btn.new'|trans({}, 'core.btn') }}
			</a> #}
		{% endif %}
		
		
		{# <div class="btn-group ms-3">
			<a href=" #}{# {{ path('User:admin.user.account.recyclebin.index') }} #}{# " class="btn btn-light">
		#}{# Корзина #}{#
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3"
			 viewBox="0 0 16 16">
			<path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
		</svg>
	</a>
</div> #}
	
	</div>

</div>