{% trans_default_domain 'userprofile' %}

<tr>
	
	<td>
		{# Пользовательское меню #}
		{{ include(_self|replace({ "_table.tbody.html.twig": "_usecase.html.twig" })) }}
	</td>
	
	{# Чекбокс #}
	<td>
		<div class="form-check form-check-sm form-check-custom">
			<input class="form-check-input" type="checkbox" value="1">
		</div>
	</td>
	
	<td class="ps-5">
		<div class="d-flex">
			{# Превью  #}
			
			{% set img_path = item.avatar_cdn == true ? CDN_HOST : '' %}
			{% set img_min = item.avatar_cdn == true ? 'small.' : '' %}
			
			<a href="{{ path('UserProfile:admin.newedit.edit', { id: item.event }) }}"
					class="symbol symbol-circle symbol-50px pe-5">
				<span class="symbol-label lazy"
						data-bg="{{ item.avatar_name ? img_path ~ profile_avatar_dir ~ item.avatar_dir ~'/'~ item.avatar_name ~'.'~ img_min ~ item.avatar_ext : '/assets/img/blank.svg' }}"></span>
			</a>
			
			
			<div class="ms-0">
				<a href="{{ path('UserProfile:admin.newedit.edit', { id: item.event }) }}"
						class="text-gray-800 text-hover-primary fs-5 fw-bolder mb-1">
					{{ item.username }}
				</a>
				
				<div class="text-muted fs-7 fw-bolder">

					<span class="svg-icon svg-icon-4 me-1">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
							<path opacity="0.3"
									d="M21 19H3C2.4 19 2 18.6 2 18V6C2 5.4 2.4 5 3 5H21C21.6 5 22 5.4 22 6V18C22 18.6 21.6 19 21 19Z"
									fill="black"></path>
							<path d="M21 5H2.99999C2.69999 5 2.49999 5.10005 2.29999 5.30005L11.2 13.3C11.7 13.7 12.4 13.7 12.8 13.3L21.7 5.30005C21.5 5.10005 21.3 5 21 5Z"
									fill="black"></path>
						</svg>
					</span>
					<a href="{{ path('AccountEmail:admin.account.newedit.edit', { id: item.account_id }) }}"
							class="text-muted text-hover-primary fw-bolder"
					>{{ item.email }}</a>
					
					
					<span class="svg-icon svg-icon-4 me-1">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
							<path opacity="0.3"
									d="M18.0624 15.3453L13.1624 20.7453C12.5624 21.4453 11.5624 21.4453 10.9624 20.7453L6.06242 15.3453C4.56242 13.6453 3.76242 11.4453 4.06242 8.94534C4.56242 5.34534 7.46242 2.44534 11.0624 2.04534C15.8624 1.54534 19.9624 5.24534 19.9624 9.94534C20.0624 12.0453 19.2624 13.9453 18.0624 15.3453Z"
									fill="black"></path>
							<path d="M12.0624 13.0453C13.7193 13.0453 15.0624 11.7022 15.0624 10.0453C15.0624 8.38849 13.7193 7.04535 12.0624 7.04535C10.4056 7.04535 9.06241 8.38849 9.06241 10.0453C9.06241 11.7022 10.4056 13.0453 12.0624 13.0453Z"
									fill="black"></path>
						</svg>
					</span>
					{{ item.location }}
				</div>
			
			</div>
		
		
		</div>
	</td>
	
	<td class="ps-5">
		{{ item.profile_type }}
	</td>
	
	<td class="ps-5 text-center">
		{% if item.active %}
			<div class="badge badge-light-success px-2">
				{{ 'user.active.label'|trans }}
			</div>
		{% else %}
			---
		{% endif %}
	</td>
	
	<td class="ps-5">
		{{ user_profile_status(item.status) }}
	</td>
	
	{% if is_granted('ROLE_ADMIN') %}
		<td class="ps-5">
			{# Прейти в режим пользователя #}
			<a href='{{ path('Pages:user.homepage', {'authority' : item.usr }) }}' class="badge badge-light">Авторизоваться</a>
		</td>
	{% endif %}

</tr>