{# Пользовательское меню #}

<div class="dropend">
	<a href="#" class="btn btn-active-light-primary" data-bs-toggle="dropdown">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list"
				viewBox="0 0 16 16">
			<path fill-rule="evenodd"
					d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
		</svg>
	</a>
	<ul class="dropdown-menu dropleft" style="margin-left: -20px;">
		
		{# Редактировать #}
		{% if  is_granted('ROLE_ADMIN') or is_granted('ROLE_USERPROFILE_EDIT') %}
			
			<li>
				<a href="{{ path('UserProfile:admin.newedit.edit', { id: item.event }) }}"
						class="dropdown-item">
					{{ 'btn.edit'|trans({}, 'core.btn') }}
				</a>
			</li>
		
		{% endif %}
		
		{# Удалить #}
		{% if  is_granted('ROLE_ADMIN') or is_granted('ROLE_USERPROFILE_DELETE') %}
			<li>
				<a data-href="{{ path('UserProfile:admin.userprofile.delete', { id: item.event }) }}"
						class="dropdown-item modal-link"
						data-bs-toggle="modal" data-bs-target="#modal"
				>
					{{ 'btn.delete'|trans({}, 'core.btn') }}
				</a>
			</li>
		{% endif %}
		
		{# {% if is_granted('ROLE_ADMIN') %}
			<li>
				<a href="{{ path('Pages:user.homepage', {'authority' : item.event }) }}" class="dropdown-item">
					Авторизоваться
				</a>
			</li>
		{% endif %} #}
	
	</ul>

</div>

