{# ПЕЧАТЬ #}

<div class="{{ app.request.headers.get('X-Requested-With') is not null ? 'd-none' }} d-print-block p-0 w-100">

    {% for order in item %}

        {# {% if stickers[order.order] %}
            {{ dd(order) }}
        {% endif %} #}

        {# {{ stickers[order.order] }} #}

        <img
                style="height: 150px; max-width: 300px;"
                src='data:image/svg+xml;base64,{{ stickers[order.order] }}'
                alt='Штрихкод Wildberries'

        />

        <div style="page-break-after: always !important;"></div>

        {# Честный знак #}

        {% set sign = cdn_image_path(order.code_image, order.code_ext, order.code_cdn) %}

        {% if sign != '/assets/img/blank.svg' %}
            <img
                    src='{{ cdn_image_path(order.code_image, order.code_ext, order.code_cdn) }}'
                    alt='Штрихкод Честный Знак'
                    style="height: 150px; margin: 2px;"
            />
            <div style="page-break-after: always !important;"></div>
        {% endif %}

        {% for i in 1..counter %}

            <div style="max-width: 200px; margin-left: 20px;">

                <div
                        style="
                width: 100%;
                margin-bottom: 1px;
"
                >

                    {# <img src='data:image/svg+xml;base64,{{ barcode }}' alt='Штрихкод {{ barcode }}'
                         style="height: 1.2cm;"/> #}

                    {# {{ barcode|raw }} #}

                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            style="width: 100%; height: 50px;" fill="currentColor"
                            viewBox="5 0 125 15"
                    >
                        {{ barcode|striptags('<path>')|raw }}
                    </svg>

                </div>

                <div style="width: 100%; text-align: center;">
                    {{ card.product_barcode }}
                </div>

                <div
                        style="
                     width: 100%;
                     display: flex;
                     justify-content: space-between;
                     align-items: flex-end;
                     font-size: 10px;"
                >
                    {{ include(_self|replace({ "content.html.twig" : "sticker.html.twig" })) }}
                </div>
            </div>
        {% endfor %}


        {% if not loop.last %}
            <div style="page-break-after: always !important;"></div>
        {% endif %}

    {% endfor %}

</div>