{% set dedline = date(item.order_data)|date_modify("+24 hours") %}
{% set difference = dedline.diff(date("now")) %}
{% set hour = difference.d * 24 + difference.h %}



{% if item.status == 'new' %}
    {% set color = 'bg-primary border-primary' %}
{% endif %}

{% if item.status == 'add' %}
    {% set color = 'bg-success border-success' %}
{% endif %}

{% if item.status == 'error' %}
    {% set color = 'bg-danger border-danger' %}
{% endif %}


<div class="col-2 p-1">

    <div class="border-bottom border-4 rounded-4 bg-primary {{ color }}">

        <div class="card bg-light-primary rounded-4">

            <div class="card-body small p-2">

                <div class="d-flex justify-content-between">

                    {# Чекбокс для множественного добавления заказов в печать #}
                    <div class="h5">
                        <input
                                title="{{ 'Выбрать данный заказ' }}"

                                id="check-{{ item.order_id }}"
                                type="checkbox"
                                class="form-check-input add-all-to-print add-all-to-package m-0 btn-outline-danger"
                                {# Данные, отправляемые POST #}
                                data-formname="{{ add_selected_form_name }}"
                                data-id="{{ item.order_id }}"
                                data-order="{{ item.order_id }}"
                        >
                    </div>

                    <div class="d-flex align-items-center gap-1 text-primary pointer copy small"
                         data-copy="{{ item.order_number|replace({'W-':''}) }}">

                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="14"
                             height="14" fill="currentColor" viewBox="0 0 115.77 122.88">
                            <path d="M89.62,13.96v7.73h12.19h0.01v0.02c3.85,0.01,7.34,1.57,9.86,4.1c2.5,2.51,4.06,5.98,4.07,9.82h0.02v0.02 v73.27v0.01h-0.02c-0.01,3.84-1.57,7.33-4.1,9.86c-2.51,2.5-5.98,4.06-9.82,4.07v0.02h-0.02h-61.7H40.1v-0.02 c-3.84-0.01-7.34-1.57-9.86-4.1c-2.5-2.51-4.06-5.98-4.07-9.82h-0.02v-0.02V92.51H13.96h-0.01v-0.02c-3.84-0.01-7.34-1.57-9.86-4.1 c-2.5-2.51-4.06-5.98-4.07-9.82H0v-0.02V13.96v-0.01h0.02c0.01-3.85,1.58-7.34,4.1-9.86c2.51-2.5,5.98-4.06,9.82-4.07V0h0.02h61.7 h0.01v0.02c3.85,0.01,7.34,1.57,9.86,4.1c2.5,2.51,4.06,5.98,4.07,9.82h0.02V13.96L89.62,13.96z M79.04,21.69v-7.73v-0.02h0.02 c0-0.91-0.39-1.75-1.01-2.37c-0.61-0.61-1.46-1-2.37-1v0.02h-0.01h-61.7h-0.02v-0.02c-0.91,0-1.75,0.39-2.37,1.01 c-0.61,0.61-1,1.46-1,2.37h0.02v0.01v64.59v0.02h-0.02c0,0.91,0.39,1.75,1.01,2.37c0.61,0.61,1.46,1,2.37,1v-0.02h0.01h12.19V35.65 v-0.01h0.02c0.01-3.85,1.58-7.34,4.1-9.86c2.51-2.5,5.98-4.06,9.82-4.07v-0.02h0.02H79.04L79.04,21.69z M105.18,108.92V35.65v-0.02 h0.02c0-0.91-0.39-1.75-1.01-2.37c-0.61-0.61-1.46-1-2.37-1v0.02h-0.01h-61.7h-0.02v-0.02c-0.91,0-1.75,0.39-2.37,1.01 c-0.61,0.61-1,1.46-1,2.37h0.02v0.01v73.27v0.02h-0.02c0,0.91,0.39,1.75,1.01,2.37c0.61,0.61,1.46,1,2.37,1v-0.02h0.01h61.7h0.02 v0.02c0.91,0,1.75-0.39,2.37-1.01c0.61-0.61,1-1.46,1-2.37h-0.02V108.92L105.18,108.92z"></path>
                        </svg>

                        <span> # {{ item.order_number }}</span>
                    </div>
                </div>

                {% if supply.status != 'close' %}



                    <div class="d-flex justify-content-between mt-1">
                        <div class="text-muted d-flex justify-content-between w-100">

                            {% if (dedline < date("now")) or (hour < 8) %}

                                {# {% if item.orders_alarms %}
                                    <div class="small text-danger fw-bolder">
                                        Срочные: #}{# {{ item.orders_alarms }} #}{#
                            </div>
                        {% else %}
                            <div>&nbsp;</div>
                        {% endif %} #}

                                {% if dedline < date("now") %}
                                    <span class="badge bg-danger small p-1">Просрочен</span>
                                    <strong class="blink">
                                        {{ hour }} ч. {{ difference.i }} м.
                                    </strong>
                                {% else %}
                                    <span class="badge bg-warning text-dark small p-1">
                                        Опоздание
                                    </span>

                                    <strong class="text-danger">
                                        {{ hour }} ч. {{ difference.i }} м.
                                    </strong>
                                {% endif %}

                            {% else %}

                                <strong>Время на доставку:</strong>
                                <strong class="text-success">
                                    {{ hour }} ч. {{ difference.i }} м.
                                </strong>
                            {% endif %}

                        </div>
                    </div>

                {% endif %}

            </div>

            {# Обложка #}

            <div class="d-flex flex-column small gap-1 p-2 bg-cover lazy col-2 w-100 position-relative"
                 style=" height: 200px;"
                 data-bg="{{ cdn_image_path(item.product_image, item.product_image_ext, item.product_image_cdn) }}"
            >
                <div
                        class="icon rounded-circle bg-contain p-1 mb-2 shadow position-absolute"
                        style="width: 25px; height: 25px;"
                >
                    {{ include(_self|replace({ "card.html.twig": "_usecase.html.twig" })) }}
                </div>

            </div>


            <div class="card-body d-flex flex-column p-2">

                <div class="text-truncate bg-contain"
                     role="tooltip"
                     data-bs-toggle="tooltip"
                     data-bs-placement="top"
                     data-bs-delay='{"show":600,"hide":100}'
                     title="{{ item.product_name }}"
                >
                    <a href="{# {{ (is_granted(ROLE~'_EDIT') or is_granted('ROLE_ADMIN')) ? path('products-product:admin.newedit.edit', { id: item.event }) }} #}"
                       class="fw-bolder mb-1 text-dark text-decoration-none"
                    >
                        {{ item.product_name|capitalize }}
                    </a>
                </div>


                <div class="text-muted fw-bolder">

                    {# Значение множественного варианта ТП #}
                    {{ item.product_variation_value|call_twig_func(item.product_variation_reference~'_render') ~
                    item.product_modification_value|call_twig_func(item.product_modification_reference~'_render') }}

                    {# Значение торгового предложения #}
                    {{ item.product_offer_value|call_twig_func(item.product_offer_reference~'_render') }}

                    {# Постфикс торгового предложения #}
                    {{ item.product_offer_postfix }}
                    {# Постфикс множественного варианта #}
                    {{ item.product_variation_postfix }}
                    {# Постфикс модификации #}
                    {{ item.product_modification_postfix }}
                </div>


                <div class="d-flex justify-content-between align-items-center small">

                    <div class="d-flex align-items-center gap-1 text-primary pointer copy small"
                         data-copy="{{ item.product_article }}">

                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="14"
                             height="14" fill="currentColor" viewBox="0 0 115.77 122.88">
                            <path d="M89.62,13.96v7.73h12.19h0.01v0.02c3.85,0.01,7.34,1.57,9.86,4.1c2.5,2.51,4.06,5.98,4.07,9.82h0.02v0.02 v73.27v0.01h-0.02c-0.01,3.84-1.57,7.33-4.1,9.86c-2.51,2.5-5.98,4.06-9.82,4.07v0.02h-0.02h-61.7H40.1v-0.02 c-3.84-0.01-7.34-1.57-9.86-4.1c-2.5-2.51-4.06-5.98-4.07-9.82h-0.02v-0.02V92.51H13.96h-0.01v-0.02c-3.84-0.01-7.34-1.57-9.86-4.1 c-2.5-2.51-4.06-5.98-4.07-9.82H0v-0.02V13.96v-0.01h0.02c0.01-3.85,1.58-7.34,4.1-9.86c2.51-2.5,5.98-4.06,9.82-4.07V0h0.02h61.7 h0.01v0.02c3.85,0.01,7.34,1.57,9.86,4.1c2.5,2.51,4.06,5.98,4.07,9.82h0.02V13.96L89.62,13.96z M79.04,21.69v-7.73v-0.02h0.02 c0-0.91-0.39-1.75-1.01-2.37c-0.61-0.61-1.46-1-2.37-1v0.02h-0.01h-61.7h-0.02v-0.02c-0.91,0-1.75,0.39-2.37,1.01 c-0.61,0.61-1,1.46-1,2.37h0.02v0.01v64.59v0.02h-0.02c0,0.91,0.39,1.75,1.01,2.37c0.61,0.61,1.46,1,2.37,1v-0.02h0.01h12.19V35.65 v-0.01h0.02c0.01-3.85,1.58-7.34,4.1-9.86c2.51-2.5,5.98-4.06,9.82-4.07v-0.02h0.02H79.04L79.04,21.69z M105.18,108.92V35.65v-0.02 h0.02c0-0.91-0.39-1.75-1.01-2.37c-0.61-0.61-1.46-1-2.37-1v0.02h-0.01h-61.7h-0.02v-0.02c-0.91,0-1.75,0.39-2.37,1.01 c-0.61,0.61-1,1.46-1,2.37h0.02v0.01v73.27v0.02h-0.02c0,0.91,0.39,1.75,1.01,2.37c0.61,0.61,1.46,1,2.37,1v-0.02h0.01h61.7h0.02 v0.02c0.91,0,1.75-0.39,2.37-1.01c0.61-0.61,1-1.46,1-2.37h-0.02V108.92L105.18,108.92z"></path>
                        </svg>

                        <small>{{ item.product_article }}</small>
                    </div>

                    <div>
                        <span
                                role="tooltip"
                                data-bs-toggle="tooltip"
                                data-bs-placement="bottom"
                                title='{{ item.print == false ? 'Печать стикеров заказа' : 'Печать уже выполнена' }}'
                        >

                             <button
                                     data-href="{{ path('wildberries-package:admin.package.print.selected.order', { print: true }) }}"
                                     class="btn btn-sm disabled {{ item.print == false ? 'btn-primary' : 'btn-light text-dark' }}"
                                     data-bs-toggle="modal"
                                     data-bs-target="#modal"

                                     data-method="post"
                                     data-formname="{{ add_selected_form_name }}"
                                     data-order="{{ item.order_id }}"
                                     data-collection-form="collection"
                                     data-post-class="add-one-to-collection"
                             >
                                   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-printer-fill" viewBox="0 0 16 16">
                                      <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"/>
                                      <path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                                    </svg>
                            </button>

                        </span>
                    </div>

                </div>


            </div>
        </div>
    </div>

</div>
