{% set identifier = card.id %}

{% if card.product_offer_uid %}
    {% set identifier = card.product_offer_uid %}
{% endif %}

{% if card.product_variation_uid %}
    {% set identifier = card.product_variation_uid %}
{% endif %}

{% if card.product_modification_uid %}
    {% set identifier = card.product_modification_uid %}
{% endif %}


<div id="{{ card.id }}"
     data-name="{{ (card.product_name ~ card.product_offer_detail_name ~ card.product_article)|lower }}"
     class="d-flex gap-3 align-items-center mb-2 pack">

    {# Обложка #}
    <button class="btn btn-link icon bg-cover rounded-2 lazy img-product m-0"
            style="width: 100px; height: 100px;
                    background-image: url({{ cdn_image_path(card.product_image, card.product_image_ext, card.product_image_cdn, 'small') }});"
    >
    </button>

    <div class="w-100">

        <div class="fw-bolder text-truncate" style="max-width: 500px;">
            {{ card.product_name }}
        </div>

        {% if card.product_offer_detail_name %}
            <small class="fw-bolder opacity-75">{{ card.product_offer_detail_name }}</small>
        {% endif %}

        <div>
            {% if card.product_offer_name %}
                <small class="opacity-50">{{ card.product_offer_name }}:</small> &nbsp;
                <strong>{{ card.product_offer_value|call_twig_func(card.product_offer_reference) }} {{ card.product_offer_postfix }}</strong>&nbsp;
            {% endif %}

            {% if card.product_variation_name %}
                <small class="opacity-50">{{ card.product_variation_name }}:</small> &nbsp;
                <strong>{{ card.product_variation_value|call_twig_func(card.product_variation_reference) }} {{ card.product_variation_postfix }}</strong>&nbsp;
            {% endif %}

            {% if card.product_modification_name %}
                <small class="opacity-50">{{ card.product_modification_name }}:</small> &nbsp;
                <strong>{{ card.product_modification_value|call_twig_func(card.product_modification_reference) }} {{ card.product_modification_postfix }}</strong>&nbsp;
            {% endif %}

        </div>

        <small class="opacity-50">Арт:</small>
        &nbsp;
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="14" height="14" fill="currentColor"
             viewBox="0 0 115.77 122.88">
            <path d="M89.62,13.96v7.73h12.19h0.01v0.02c3.85,0.01,7.34,1.57,9.86,4.1c2.5,2.51,4.06,5.98,4.07,9.82h0.02v0.02 v73.27v0.01h-0.02c-0.01,3.84-1.57,7.33-4.1,9.86c-2.51,2.5-5.98,4.06-9.82,4.07v0.02h-0.02h-61.7H40.1v-0.02 c-3.84-0.01-7.34-1.57-9.86-4.1c-2.5-2.51-4.06-5.98-4.07-9.82h-0.02v-0.02V92.51H13.96h-0.01v-0.02c-3.84-0.01-7.34-1.57-9.86-4.1 c-2.5-2.51-4.06-5.98-4.07-9.82H0v-0.02V13.96v-0.01h0.02c0.01-3.85,1.58-7.34,4.1-9.86c2.51-2.5,5.98-4.06,9.82-4.07V0h0.02h61.7 h0.01v0.02c3.85,0.01,7.34,1.57,9.86,4.1c2.5,2.51,4.06,5.98,4.07,9.82h0.02V13.96L89.62,13.96z M79.04,21.69v-7.73v-0.02h0.02 c0-0.91-0.39-1.75-1.01-2.37c-0.61-0.61-1.46-1-2.37-1v0.02h-0.01h-61.7h-0.02v-0.02c-0.91,0-1.75,0.39-2.37,1.01 c-0.61,0.61-1,1.46-1,2.37h0.02v0.01v64.59v0.02h-0.02c0,0.91,0.39,1.75,1.01,2.37c0.61,0.61,1.46,1,2.37,1v-0.02h0.01h12.19V35.65 v-0.01h0.02c0.01-3.85,1.58-7.34,4.1-9.86c2.51-2.5,5.98-4.06,9.82-4.07v-0.02h0.02H79.04L79.04,21.69z M105.18,108.92V35.65v-0.02 h0.02c0-0.91-0.39-1.75-1.01-2.37c-0.61-0.61-1.46-1-2.37-1v0.02h-0.01h-61.7h-0.02v-0.02c-0.91,0-1.75,0.39-2.37,1.01 c-0.61,0.61-1,1.46-1,2.37h0.02v0.01v73.27v0.02h-0.02c0,0.91,0.39,1.75,1.01,2.37c0.61,0.61,1.46,1,2.37,1v-0.02h0.01h61.7h0.02 v0.02c0.91,0,1.75-0.39,2.37-1.01c0.61-0.61,1-1.46,1-2.37h-0.02V108.92L105.18,108.92z">
            </path>
        </svg>
        &nbsp;
        <strong class="pointer copy" data-copy="{{ card.product_article }}">{{ card.product_article }}</strong>&nbsp;

        <div>
            <small class="opacity-50">Количество заказов в упаковке:</small> &nbsp;
            <strong>{{ card.product_total }}</strong> шт.
        </div>

    </div>

    <div class="w-25">

        {% set isSticker = (card.sticker is defined and card.sticker == true) %}

        <button

                id="print-{{ card.id }}"
                class="btn btn-primary disabled prnt"
                data-href="{{ path('wildberries-package:admin.package.print.pack', { id : card.id, print: true }) }}"
                data-bs-toggle="modal"
                data-bs-target="#modal"
                {# {{ isSticker ?: 'disabled="disabled"' }} #}
        >


            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-printer-fill" viewBox="0 0 16 16">
                <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"/>
                <path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
            </svg>


        </button>


    </div>

</div>
