{% set identifier = card.id %}

{% if card.product_offer_uid %}
    {% set identifier = card.product_offer_uid %}
{% endif %}

{% if card.product_variation_uid %}
    {% set identifier = card.product_variation_uid %}
{% endif %}

{% if card.product_modification_uid %}
    {% set identifier = card.product_modification_uid %}
{% endif %}


<div id="{{ card.id }}"
     data-name="{{ (card.product_name ~ card.product_offer_detail_name ~ card.product_article)|lower }}"
     class="d-flex gap-3 align-items-center mb-2 pack">

    {# Обложка #}
    <button class="btn btn-link icon bg-cover rounded-2 lazy img-product m-0"
            style="width: 100px; height: 100px;
                    background-image: url({{ cdn_image_path(card.product_image, card.product_image_ext, card.product_image_cdn, 'min') }});"
    >
    </button>

    <div class="w-100">

        <div class="fw-bolder fw-bolder text-truncate" style="max-width: 500px;">
            {{ card.product_name }} 46546 4654564 64465 465 465 4 45 54 6465445645645 45 465465456 4645645464 554
            54654654545
        </div>

        {% if card.product_offer_detail_name %}
            <small class="opacity-50">{{ card.product_offer_detail_name }}</small>
        {% endif %}

        <div>
            {% if card.product_offer_name %}
                <small class="opacity-50">{{ card.product_offer_name }}:</small> &nbsp;
                <strong>{{ card.product_offer_value|call_twig_func(card.product_offer_reference) }} {{ card.product_offer_postfix }}</strong>&nbsp;
            {% endif %}

            {% if card.product_variation_name %}
                <small class="opacity-50">{{ card.product_variation_name }}:</small> &nbsp;
                <strong>{{ card.product_variation_value|call_twig_func(card.product_variation_reference) }} {{ card.product_variation_postfix }}</strong>&nbsp;
            {% endif %}

            {% if card.product_modification_name %}
                <small class="opacity-50">{{ card.product_modification_name }}:</small> &nbsp;
                <strong>{{ card.product_modification_value|call_twig_func(card.product_modification_reference) }} {{ card.product_modification_postfix }}</strong>&nbsp;
            {% endif %}

        </div>

        <small class="opacity-50">Арт:</small> &nbsp;
        <strong>{{ card.product_article }}</strong>&nbsp;

        <div>
            <small class="opacity-50">Количество в заказов:</small> &nbsp;
            <strong>{{ card.product_total }}</strong> шт.
        </div>

    </div>

    <div class="w-25">

        {% set isSticker = (card.sticker is defined and card.sticker == true) %}

        <button

                id="print-{{ card.id }}"
                class="btn btn-primary disabled prnt"
                data-href="{{ path('wildberries-package:admin.package.print.pack', { id : card.id, print: true }) }}"
                data-bs-toggle="modal"
                data-bs-target="#modal"
                {# {{ isSticker ?: 'disabled="disabled"' }} #}
        >


            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-printer-fill" viewBox="0 0 16 16">
                    <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"/>
                    <path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                </svg>



        </button>


    </div>

</div>
