{# @var item \BaksDev\Wildberries\Package\Repository\Supply\AllWbSupplyOrders\AllWbSupplyProductsGroupResult #}

<tr>

    {# Обложка  #}
    <td class="vertical-middle">
        <img
                src="{{ cdn_image_path(item.productImage, item.productImageExt, item.productImageCdn) }}"
                style="height: 100%; width: 35px;"
        />
    </td>

    {# Наименование #}
    <td class="vertical-middle">

        <div class="d-flex flex-column w-100">
            <strong>
                {{ item.productName }}
            </strong>
            <div>
                {{ item.productArticle }}
            </div>
        </div>
    </td>

    {# Размер #}
    <td class="vertical-middle text-nowrap">
        {# Значение множественного варианта ТП #}
        {{ item.productVariationValue|call_twig_func(item.productVariationReference~'_render') ~
        item.productModificationValue|call_twig_func(item.productModificationReference~'_render') }}

        {# Значение торгового предложения #}
        {{ item.productOfferValue|call_twig_func(item.productOfferReference~'_render') }}

        {# Постфикс торгового предложения #}
        {{ item.productOfferPostfix }}
        {# Постфикс множественного варианта #}
        {{ item.productVariationPostfix }}
        {# Постфикс модификации #}
        {{ item.productModificationPostfix }}
    </td>

    {# Количество #}
    <td class="vertical-middle">
        <div class="text-center">
            <strong>{{ item.orderTotal }}</strong> &nbsp; шт.
        </div>
    </td>

</tr>
