{% trans_default_domain 'admin.user.profile' %}

<div class="card border-light">
	
	<div class="card-header border-light bg-body">
		<div class="card-title">
			<h4>
				{# Личные данные #}
				{{ 'admin.form.header.personal'|trans }}
			</h4>
		</div>
	</div>
	
	<div class="card-body">
		
		{# Пол #}
		<div class="d-flex justify-content-around pb-3 radio-buttons" data-buttons="true">
			{% for gender in form.personal.gender %}
				<label class="btn p-3 border-dashed rounded-3 {{ gender.vars.data ? 'active' : '' }}">
					<div class="d-flex align-items-center">
						<div class="flex-grow-1">
							<span class="h5">
								{# Пол #}
								{{ form_widget(gender) }}
							</span>
						</div>
					</div>
				</label>
			{% endfor %}
		</div>
		
		
		{# Дата рождения #}
		<div class="input-group mb-3">

			<span class="input-group-text">
				<svg xmlns="http://www.w3.org/2000/svg"
						width="16"
						height="16"
						fill="currentColor"
						class="bi bi-calendar3"
						viewBox="0 0 16 16">
				  <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
				  <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
				</svg>
			</span>
			{# Дата рождения #}
			{{ form_widget(form.personal.birthday, { attr: { placeholder: 'admin.form.label.birthday'|trans }} ) }}
		</div>
		
		
		{# Мостоположение #}
		<div class="input-group mb-3">

			<span class="input-group-text">
				<svg xmlns="http://www.w3.org/2000/svg"
						width="16"
						height="16"
						fill="currentColor"
						class="bi bi-geo-alt"
						viewBox="0 0 16 16">
				  <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
				  <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
				</svg>
			</span>
			
			{# Мостоположение #}
			{{ form_widget(form.personal.location, { attr: { placeholder: 'admin.form.label.location'|trans }}) }}
		
		</div>
		{# help #}
		<div class="cursor-pointer">
			{{ form_help(form.personal.location) }}
		</div>
	
	</div>

</div>







